:root {
  font-family: 'Space Mono', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: #5e7a7d;
  background-color: #c5e4e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
